.voteScoreWrapper {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: space-between;
  align-items: center;
}

.voteControlUp, .voteControlDown {
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.vote-score {
  padding: 5px 10px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 4px solid #666666;
  min-width: 60px;
  text-align: center;
}

.positive {
  background: #01BC32;
}

.negative {
  background: #ff6b6b;
}
